:root {
  --bg-blk: #000;
  --bg-blkopa: #161616aa;
}

.bgblur {
  background-image: url(../img/bg/b4.jpg) !important;
  background-repeat: no-repeat;
  background-position: -10px -220px;
}

.bgopa {
  background-image: url(../img/bg/b4_off.jpg) !important;
  background-repeat: no-repeat;
  background-position: -10px -220px;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

#logo {
  width: 9rem;
  height: 5.5rem;
  margin: 0.9rem;
}

.bg-blk {
  background-color: var(--bg-blk) !important;
  border-top: 3px solid red;
}

.bg-blkopa {
  background-color: var(--bg-blkopa) !important;
  border-bottom: 7px solid red;
}

.pagMinHeight {
  width: 100%;
  height: 40rem;
}
