<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PizzaSaturn - Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="css/main.css" />
  <script src="js/home.js"></script>
</head>

<body class="bg-light">

  <nav class="navbar navbar-expand-lg navbar-dark bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" th:href="@{/}"><img src="#" th:src="@{img/logo_pizzasaturn.png}"
          alt="pizzasaturn" id="logo"></a>
    </div>
  </nav>

  <h3 class="p-4 mt-5 mb-3 text-center text-danger font-weight-light">¡Vaya!, necesitas decirnos quien eres.</h3>

  <form class="m-2" th:action="@{/login}" method="post">
    <div class="row">
      <div class="col-1 col-sm-3 col-lg-3"></div>
      <div class="col-sm-8 col-lg-6">
        <div class="mb-3 row">

          <div th:if="${param.error}" class="mb-4 ml-3 text-danger">Usuario o
            contraseña incorrecta</div>

          <div th:if="${param.logout}" class="mb-4 ml-3 text-danger">Acabas de
            cerrar la sesión</div>

          <div class="col-12">
            <input type="text" class="form-control" id="inputEmail" placeholder="Nombre de usuario" name="username">
          </div>

          <div class="col-12 mt-2">
            <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña" name="password">
          </div>

          <div class="w-100 d-flex justify-content-between">
            <a href="#" th:href="@{/registro}" class="text-danger ml-3 pt-4">Aún no me conoceis</a>
            <button type="submit" class="btn btn-danger w-25 mt-3 mr-3">Entrar</button>
          </div>

        </div>
      </div>
    </div>
  </form>

</body>

</html>