<div th:replace="~{inc/head}"></div>

<h3 class="p-4 mt-5 mb-3 text-center text-danger font-weight-light">¡Vaya!, necesitas decirnos quien eres.</h3>

<form class="m-2 pagMinHeight" th:action="@{/login}" method="post">
  <div class="row">
    <div class="col-1 col-sm-3 col-lg-3"></div>
    <div class="col-sm-8 col-lg-6">
      <div class="mb-3 row">

        <div th:if="${param.error}" class="mb-4 ml-3 text-danger">Usuario o
          contraseña incorrecta</div>

        <div th:if="${param.logout}" class="mb-4 ml-3 text-danger">Acabas de
          cerrar la sesión</div>

        <div class="col-12">
          <input type="text" class="form-control" id="inputEmail" placeholder="Nombre de usuario" name="username">
        </div>

        <div class="col-12 mt-2">
          <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña" name="password">
        </div>

        <div class="w-100 d-flex justify-content-between">
          <a href="#" th:href="@{/registro}" class="text-danger ml-3 pt-4">Aún no me conoceis</a>
          <button type="submit" class="btn btn-danger w-25 mt-3 mr-3">Entrar</button>
        </div>

      </div>
    </div>
  </div>
</form>
<div th:replace="~{inc/footer}"></div>
<script>
  function load() {
    document.body.classList.add('bgopa');
  }
  window.onload = load;
</script>
</body>
</html>