<div th:replace="~{inc/head}"></div>

<h3 class="p-4 mt-5 mb-3 text-center text-danger font-weight-light">¡Será un placer conocerte!</h3>

<form class="m-2 pagMinHeight" th:action="@{/registro/validate}" method="post">
    <div class="row">
        <div class="col-1 col-sm-3 col-lg-3"></div>
        <div class="col-sm-8 col-lg-6">
            <div class="mb-3 row">
                <div class="col-sm-12 col-xl-4">
                    <label for="nombre_usuario" class="form-label">Nombre de
                        usuario</label> <input type="text" class="form-control" name="nombre_usuario">
                </div>
                <div class="col-sm-6 col-xl-4">
                    <label for="password1" class="form-label">Contraseña</label> <input type="password"
                        class="form-control" name="password1">
                </div>

                <div class="col-sm-6 col-xl-4">
                    <label for="password2" class="form-label">Repite la contraseña</label>
                    <input type="password" class="form-control" name="password2">
                </div>

            </div>
            <div class="mb-3 row">
                <div class="col-12">
                    <label for="email" class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control" name="email">
                </div>
            </div>
            <div class="w-100 d-flex justify-content-end">
                <button class="btn btn-danger w-25 mt-3" type="submit">Enviar</button>
            </div>
        </div>
        <input type="hidden" name="saldo" value="0.00">
        <input type="hidden" name="rol_id" value="2">
    </div>
    </div>
</form>
<div th:replace="~{inc/footer}"></div>
<script>
    function load() {
        document.body.classList.add('bgopa');
    }
    window.onload = load;
</script>
</body>

</html>