<div th:replace="~{inc/head}"></div>

<h3 class="p-4 mt-5 mb-3 text-center text-danger font-weight-light">¡Será un placer conocerte!</h3>

<form class="m-2 pagMinHeight" th:action="@{/registroUsuario}" method="post">
    <div class="row">
        <div class="col-1 col-sm-3 col-lg-3"></div>
        <div class="col-sm-8 col-lg-6">
            <div class="mb-3 row">
                <div class="col-sm-12 col-xl-4 mb-2">
                    <input type="text" class="form-control" name="username" placeholder="Nombre de usuario">
                </div>
                <div class="col-sm-6 col-xl-4">
                    <input type="password" class="form-control" name="password1" placeholder="Contraseña">
                </div>

                <div class="col-sm-6 col-xl-4">
                    <input type="password" class="form-control" name="password2" placeholder="Repite la contraseña">
                </div>
                <div class="col-12 mt-2">
                    <input type="email" class="form-control" name="email" placeholder="Correo electrónico">
                </div>
                <div class="w-100 d-flex justify-content-end">
                    <button class="btn btn-danger w-25 mt-3 mr-3" type="submit">Enviar</button>
                </div>
            </div>
        </div>
        <input type="hidden" name="saldo" value="0.00">
        <input type="hidden" name="rol_id" value="2">
    </div>
    </div>
</form>
<div th:replace="~{inc/footer}"></div>
<script>
    function load() {
        document.body.classList.add('bgopa');
    }
    window.onload = load;
</script>
</body>

</html>